<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_05caa589a468992d24d6e2365e3c3790 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_05caa589a468992d24d6e2365e3c3790" ></div>
        
</body>
<script>
    
    
            var map_05caa589a468992d24d6e2365e3c3790 = L.map(
                "map_05caa589a468992d24d6e2365e3c3790",
                {
                    center: [64.54397606229037, 40.510735463353384],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9c2a237acfdb8c14347a6e351e8c73d8 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_9c2a237acfdb8c14347a6e351e8c73d8.addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var marker_949474461a0952c2aaeff17fa57da55d = L.marker(
                [64.529384, 40.536262],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_2aa7e56b6452b0c683ce53b86c7fa345 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_949474461a0952c2aaeff17fa57da55d.setIcon(icon_2aa7e56b6452b0c683ce53b86c7fa345);
        
    
        var popup_726e728ecef7be0d60222ea2b475bc42 = L.popup({"maxWidth": "100%"});

        
            
                var html_9688e4838e3cdc8b0f9a9125c8f15604 = $(`<div id="html_9688e4838e3cdc8b0f9a9125c8f15604" style="width: 100.0%; height: 100.0%;">           <a href="/michael/">Собор Архистратига Божия Михаила</a>          </div>`)[0];
                popup_726e728ecef7be0d60222ea2b475bc42.setContent(html_9688e4838e3cdc8b0f9a9125c8f15604);
            
        

        marker_949474461a0952c2aaeff17fa57da55d.bindPopup(popup_726e728ecef7be0d60222ea2b475bc42)
        ;

        
    
    
            marker_949474461a0952c2aaeff17fa57da55d.bindTooltip(
                `<div>
                     наб. Северной Двины, 34, Архангельск,
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_50f43e586a74b2deb2196ebe231eee24 = L.marker(
                [64.550473, 40.514843],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_db1918229e8271881b27ed3ab3f9d626 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_50f43e586a74b2deb2196ebe231eee24.setIcon(icon_db1918229e8271881b27ed3ab3f9d626);
        
    
        var popup_02d3c7e8492925dbea13aacf047202f3 = L.popup({"maxWidth": "100%"});

        
            
                var html_86208b6a743dee5e61d2ff4a2f6a25d0 = $(`<div id="html_86208b6a743dee5e61d2ff4a2f6a25d0" style="width: 100.0%; height: 100.0%;">           <a href="/os/">Особняк Суркова</a>          </div>`)[0];
                popup_02d3c7e8492925dbea13aacf047202f3.setContent(html_86208b6a743dee5e61d2ff4a2f6a25d0);
            
        

        marker_50f43e586a74b2deb2196ebe231eee24.bindPopup(popup_02d3c7e8492925dbea13aacf047202f3)
        ;

        
    
    
            marker_50f43e586a74b2deb2196ebe231eee24.bindTooltip(
                `<div>
                     набережная Северной Двины, 109, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f5014a7f6dc02efa8ccdcc9ec0c6d60 = L.marker(
                [64.528421, 40.548338],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_af4bf4d078affcc5b6b12860cb3bd847 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_5f5014a7f6dc02efa8ccdcc9ec0c6d60.setIcon(icon_af4bf4d078affcc5b6b12860cb3bd847);
        
    
        var popup_2073728503cdbefcdfa9083aa11e0b0e = L.popup({"maxWidth": "100%"});

        
            
                var html_107dab5b42c4a68e09a96b208081ef74 = $(`<div id="html_107dab5b42c4a68e09a96b208081ef74" style="width: 100.0%; height: 100.0%;">           <a href="/lomonosov/">Памятник Михаилу Васильевичу Ломоносову</a>          </div>`)[0];
                popup_2073728503cdbefcdfa9083aa11e0b0e.setContent(html_107dab5b42c4a68e09a96b208081ef74);
            
        

        marker_5f5014a7f6dc02efa8ccdcc9ec0c6d60.bindPopup(popup_2073728503cdbefcdfa9083aa11e0b0e)
        ;

        
    
    
            marker_5f5014a7f6dc02efa8ccdcc9ec0c6d60.bindTooltip(
                `<div>
                     набережная Северной Двины, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6be70c18d56296fbcb1a16834d2282f1 = L.marker(
                [64.550059, 40.515245],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_a150bd1c7e50e77b517ab45918b5cd92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_6be70c18d56296fbcb1a16834d2282f1.setIcon(icon_a150bd1c7e50e77b517ab45918b5cd92);
        
    
        var popup_1c683917b1c35b9c72b16e946e9c78af = L.popup({"maxWidth": "100%"});

        
            
                var html_aef586165d2cc4010f479d59ae0d4806 = $(`<div id="html_aef586165d2cc4010f479d59ae0d4806" style="width: 100.0%; height: 100.0%;">           <a href="/uspen/">Церковь Успения Пресвятой Богородицы</a>          </div>`)[0];
                popup_1c683917b1c35b9c72b16e946e9c78af.setContent(html_aef586165d2cc4010f479d59ae0d4806);
            
        

        marker_6be70c18d56296fbcb1a16834d2282f1.bindPopup(popup_1c683917b1c35b9c72b16e946e9c78af)
        ;

        
    
    
            marker_6be70c18d56296fbcb1a16834d2282f1.bindTooltip(
                `<div>
                     улица Логинова, 1, Архангельск, 163000
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_583ba26ea52cc55dce4002e40de33727 = L.marker(
                [64.539115, 40.509573],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_80915b0206070f09f6da63a08567c5df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_583ba26ea52cc55dce4002e40de33727.setIcon(icon_80915b0206070f09f6da63a08567c5df);
        
    
        var popup_0aff6a0dc99e5f6384311c6f9f7a1450 = L.popup({"maxWidth": "100%"});

        
            
                var html_5158493fa2c139cf89e89b1d42ec9589 = $(`<div id="html_5158493fa2c139cf89e89b1d42ec9589" style="width: 100.0%; height: 100.0%;">           <a href="/host/">Гостиный двор</a>          </div>`)[0];
                popup_0aff6a0dc99e5f6384311c6f9f7a1450.setContent(html_5158493fa2c139cf89e89b1d42ec9589);
            
        

        marker_583ba26ea52cc55dce4002e40de33727.bindPopup(popup_0aff6a0dc99e5f6384311c6f9f7a1450)
        ;

        
    
    
            marker_583ba26ea52cc55dce4002e40de33727.bindTooltip(
                `<div>
                     просп. Троицкий, 21, Архангельск, Архангельская обл., 163046
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b83d5b5c05057f5ffd1dd4c519c6dc5 = L.marker(
                [64.53515, 40.527701],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_f5fb479a21d3b7cfcf565006c0f89df8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3b83d5b5c05057f5ffd1dd4c519c6dc5.setIcon(icon_f5fb479a21d3b7cfcf565006c0f89df8);
        
    
        var popup_7245344d4278830e3fd34e16a9d3c65a = L.popup({"maxWidth": "100%"});

        
            
                var html_1bb1e35ffa814bde1b2af0b2fbb863c3 = $(`<div id="html_1bb1e35ffa814bde1b2af0b2fbb863c3" style="width: 100.0%; height: 100.0%;">           <a href="/pryaniky/">Музей Архангельского пряника и козули</a>          </div>`)[0];
                popup_7245344d4278830e3fd34e16a9d3c65a.setContent(html_1bb1e35ffa814bde1b2af0b2fbb863c3);
            
        

        marker_3b83d5b5c05057f5ffd1dd4c519c6dc5.bindPopup(popup_7245344d4278830e3fd34e16a9d3c65a)
        ;

        
    
    
            marker_3b83d5b5c05057f5ffd1dd4c519c6dc5.bindTooltip(
                `<div>
                     проспект Чумбарова-Лучинского, 37, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c3a2db1e05977165e713d8377ff1ac3d = L.marker(
                [64.536781, 40.511108],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_8cbb6d407b89e3af267f5337b547e1d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_c3a2db1e05977165e713d8377ff1ac3d.setIcon(icon_8cbb6d407b89e3af267f5337b547e1d1);
        
    
        var popup_41de74fad2525da55c90d33c02e72a39 = L.popup({"maxWidth": "100%"});

        
            
                var html_efac6bcbb4f41d10333bbf217c0763dd = $(`<div id="html_efac6bcbb4f41d10333bbf217c0763dd" style="width: 100.0%; height: 100.0%;">           <a href="/petr-one/">Памятник Петру I</a>          </div>`)[0];
                popup_41de74fad2525da55c90d33c02e72a39.setContent(html_efac6bcbb4f41d10333bbf217c0763dd);
            
        

        marker_c3a2db1e05977165e713d8377ff1ac3d.bindPopup(popup_41de74fad2525da55c90d33c02e72a39)
        ;

        
    
    
            marker_c3a2db1e05977165e713d8377ff1ac3d.bindTooltip(
                `<div>
                     набережная Северной Двины, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6a710890f121569c11c8612375d26343 = L.marker(
                [64.549502, 40.518789],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_be37ae4cdc56352c5f0092f3bce22ef6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_6a710890f121569c11c8612375d26343.setIcon(icon_be37ae4cdc56352c5f0092f3bce22ef6);
        
    
        var popup_0efba7a949050d6d69e66e5d7a9d2bfa = L.popup({"maxWidth": "100%"});

        
            
                var html_970f09705a398f21e498881cdc32ff24 = $(`<div id="html_970f09705a398f21e498881cdc32ff24" style="width: 100.0%; height: 100.0%;">           <a href="/teatr-ad/">Архангельский молодежный театр</a>          </div>`)[0];
                popup_0efba7a949050d6d69e66e5d7a9d2bfa.setContent(html_970f09705a398f21e498881cdc32ff24);
            
        

        marker_6a710890f121569c11c8612375d26343.bindPopup(popup_0efba7a949050d6d69e66e5d7a9d2bfa)
        ;

        
    
    
            marker_6a710890f121569c11c8612375d26343.bindTooltip(
                `<div>
                     улица Логинова, 9, Архангельск, 163000
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bcd9e5eb0b93eaa6a21ac3609fbef7cb = L.marker(
                [64.53862, 40.518259],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_a09d8700853c298013ed5fc7b3f999a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_bcd9e5eb0b93eaa6a21ac3609fbef7cb.setIcon(icon_a09d8700853c298013ed5fc7b3f999a7);
        
    
        var popup_2f540535f4384affdb00afd593b1544b = L.popup({"maxWidth": "100%"});

        
            
                var html_1e1794814e487211e6c6f4077ef3f155 = $(`<div id="html_1e1794814e487211e6c6f4077ef3f155" style="width: 100.0%; height: 100.0%;">           <a href="/vysotka/">Здание проектных организаций 'Высотка'</a>          </div>`)[0];
                popup_2f540535f4384affdb00afd593b1544b.setContent(html_1e1794814e487211e6c6f4077ef3f155);
            
        

        marker_bcd9e5eb0b93eaa6a21ac3609fbef7cb.bindPopup(popup_2f540535f4384affdb00afd593b1544b)
        ;

        
    
    
            marker_bcd9e5eb0b93eaa6a21ac3609fbef7cb.bindTooltip(
                `<div>
                     площадь Ленина, 4, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c61199a0e9f865d25dff4f706ed18b56 = L.marker(
                [64.534501, 40.52179],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_4eb12260d47ca582e81f761373a73648 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_c61199a0e9f865d25dff4f706ed18b56.setIcon(icon_4eb12260d47ca582e81f761373a73648);
        
    
        var popup_3d6402cf594dc42f68f6ca3ee00411ba = L.popup({"maxWidth": "100%"});

        
            
                var html_f908c66bf01ef55d693585a5edd19933 = $(`<div id="html_f908c66bf01ef55d693585a5edd19933" style="width: 100.0%; height: 100.0%;">           <a href="/pomor/">Магазин подарков и сувениров 'Поморские штучки'</a>          </div>`)[0];
                popup_3d6402cf594dc42f68f6ca3ee00411ba.setContent(html_f908c66bf01ef55d693585a5edd19933);
            
        

        marker_c61199a0e9f865d25dff4f706ed18b56.bindPopup(popup_3d6402cf594dc42f68f6ca3ee00411ba)
        ;

        
    
    
            marker_c61199a0e9f865d25dff4f706ed18b56.bindTooltip(
                `<div>
                     Троицкий проспект, 37, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8882d6614cf25819366ada918550b5c6 = L.marker(
                [64.534684, 40.523607],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_6ad39b1387dd4f611cf8084a370fc13a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8882d6614cf25819366ada918550b5c6.setIcon(icon_6ad39b1387dd4f611cf8084a370fc13a);
        
    
        var popup_52f0b108d405ffbcb423717003e4641d = L.popup({"maxWidth": "100%"});

        
            
                var html_5ec07121ef9856e2ea245c488c38f0db = $(`<div id="html_5ec07121ef9856e2ea245c488c38f0db" style="width: 100.0%; height: 100.0%;">           <a href="/pomorsk/">Ресторан 'Поморский'</a>          </div>`)[0];
                popup_52f0b108d405ffbcb423717003e4641d.setContent(html_5ec07121ef9856e2ea245c488c38f0db);
            
        

        marker_8882d6614cf25819366ada918550b5c6.bindPopup(popup_52f0b108d405ffbcb423717003e4641d)
        ;

        
    
    
            marker_8882d6614cf25819366ada918550b5c6.bindTooltip(
                `<div>
                     Троицкий проспект, 38, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f7870303b29d8335057540e3189695e5 = L.marker(
                [64.541152, 40.510292],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_95294e3627685b6b0f0e937f721f8fb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f7870303b29d8335057540e3189695e5.setIcon(icon_95294e3627685b6b0f0e937f721f8fb2);
        
    
        var popup_cc792e6ae31f66a43124f80185b691a1 = L.popup({"maxWidth": "100%"});

        
            
                var html_8803ae9000c164af9dfd17bc1a4b8b71 = $(`<div id="html_8803ae9000c164af9dfd17bc1a4b8b71" style="width: 100.0%; height: 100.0%;">           <a href="/stolitsa/">Ресторан Столица Поморья</a>          </div>`)[0];
                popup_cc792e6ae31f66a43124f80185b691a1.setContent(html_8803ae9000c164af9dfd17bc1a4b8b71);
            
        

        marker_f7870303b29d8335057540e3189695e5.bindPopup(popup_cc792e6ae31f66a43124f80185b691a1)
        ;

        
    
    
            marker_f7870303b29d8335057540e3189695e5.bindTooltip(
                `<div>
                     набережная Северной Двины, 88, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a4544bb367ad20feded61d0331ffb15 = L.marker(
                [64.538248, 40.520182],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_4e4fb17c2020e4c6aba236da5d0a4990 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_0a4544bb367ad20feded61d0331ffb15.setIcon(icon_4e4fb17c2020e4c6aba236da5d0a4990);
        
    
        var popup_8d7bb63f3be69658c1fabd358a29724b = L.popup({"maxWidth": "100%"});

        
            
                var html_17db74d3f3ecef28e2781a23812adf1e = $(`<div id="html_17db74d3f3ecef28e2781a23812adf1e" style="width: 100.0%; height: 100.0%;">           <a href="/home-book/">Книжный магазин 'Дом книги'</a>          </div>`)[0];
                popup_8d7bb63f3be69658c1fabd358a29724b.setContent(html_17db74d3f3ecef28e2781a23812adf1e);
            
        

        marker_0a4544bb367ad20feded61d0331ffb15.bindPopup(popup_8d7bb63f3be69658c1fabd358a29724b)
        ;

        
    
    
            marker_0a4544bb367ad20feded61d0331ffb15.bindTooltip(
                `<div>
                     площадь Ленина, 3, Архангельск, 163000
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_39c856e1d7cd7fa763774cfda6f0b60c = L.marker(
                [64.557908, 40.521062],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_2e88b078696d4dabc71eea7fcb6245b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_39c856e1d7cd7fa763774cfda6f0b60c.setIcon(icon_2e88b078696d4dabc71eea7fcb6245b0);
        
    
        var popup_1898563d855ac2142cc508128ac2fcbb = L.popup({"maxWidth": "100%"});

        
            
                var html_2109be45c1c51b957a9ed1e4a0202698 = $(`<div id="html_2109be45c1c51b957a9ed1e4a0202698" style="width: 100.0%; height: 100.0%;">           <a href="/belomor/">Магазин подарков и сувениров 'Беломорские узоры'</a>          </div>`)[0];
                popup_1898563d855ac2142cc508128ac2fcbb.setContent(html_2109be45c1c51b957a9ed1e4a0202698);
            
        

        marker_39c856e1d7cd7fa763774cfda6f0b60c.bindPopup(popup_1898563d855ac2142cc508128ac2fcbb)
        ;

        
    
    
            marker_39c856e1d7cd7fa763774cfda6f0b60c.bindTooltip(
                `<div>
                     улица Федота Шубина, 3, Архангельск, 163001
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce7c841f815a5d6de716f7fb7bd009d0 = L.marker(
                [64.539717, 40.518355],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_ef927aeae7667e302268c7e8466edebe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ce7c841f815a5d6de716f7fb7bd009d0.setIcon(icon_ef927aeae7667e302268c7e8466edebe);
        
    
        var popup_8f0951f6b160c0894ac8489f61f7d6ff = L.popup({"maxWidth": "100%"});

        
            
                var html_e6d522f170737355784e0158ce7e0d17 = $(`<div id="html_e6d522f170737355784e0158ce7e0d17" style="width: 100.0%; height: 100.0%;">           <a href="/izo/">Музей изобразительных искусств</a>          </div>`)[0];
                popup_8f0951f6b160c0894ac8489f61f7d6ff.setContent(html_e6d522f170737355784e0158ce7e0d17);
            
        

        marker_ce7c841f815a5d6de716f7fb7bd009d0.bindPopup(popup_8f0951f6b160c0894ac8489f61f7d6ff)
        ;

        
    
    
            marker_ce7c841f815a5d6de716f7fb7bd009d0.bindTooltip(
                `<div>
                     площадь Ленина, 2, Архангельск, 163000
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8f6185ef8833cbff9aef75772a2c534 = L.marker(
                [64.698734, 40.415121],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_b159e9a2111193ec9f5096ebc435d487 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_f8f6185ef8833cbff9aef75772a2c534.setIcon(icon_b159e9a2111193ec9f5096ebc435d487);
        
    
        var popup_a907be836265695c9a81a6b121b95fc1 = L.popup({"maxWidth": "100%"});

        
            
                var html_fbb5b8fa71ae7ae3fec6bdc94a9d1acb = $(`<div id="html_fbb5b8fa71ae7ae3fec6bdc94a9d1acb" style="width: 100.0%; height: 100.0%;">           <a href="/novo/">Новодвинская крепость</a>          </div>`)[0];
                popup_a907be836265695c9a81a6b121b95fc1.setContent(html_fbb5b8fa71ae7ae3fec6bdc94a9d1acb);
            
        

        marker_f8f6185ef8833cbff9aef75772a2c534.bindPopup(popup_a907be836265695c9a81a6b121b95fc1)
        ;

        
    
    
            marker_f8f6185ef8833cbff9aef75772a2c534.bindTooltip(
                `<div>
                     ул. Ивана Рябова, 17, Архангельск, Архангельская обл., 163028
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7dc1b490bc08704b0b66d6695d4c6a56 = L.marker(
                [64.540716, 40.514184],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_8a34370f030a8bb020d9e7fccbf9c9bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_7dc1b490bc08704b0b66d6695d4c6a56.setIcon(icon_8a34370f030a8bb020d9e7fccbf9c9bd);
        
    
        var popup_0df520d74678aa5962b62e640f191c9c = L.popup({"maxWidth": "100%"});

        
            
                var html_fde7934451f16f39f80d980002d7f158 = $(`<div id="html_fde7934451f16f39f80d980002d7f158" style="width: 100.0%; height: 100.0%;">           <a href="/obs/">Обелиск Севера</a>          </div>`)[0];
                popup_0df520d74678aa5962b62e640f191c9c.setContent(html_fde7934451f16f39f80d980002d7f158);
            
        

        marker_7dc1b490bc08704b0b66d6695d4c6a56.bindPopup(popup_0df520d74678aa5962b62e640f191c9c)
        ;

        
    
    
            marker_7dc1b490bc08704b0b66d6695d4c6a56.bindTooltip(
                `<div>
                     Троицкий проспект, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58450dde5584bb3322f4ac4e13b61bfb = L.marker(
                [64.54397606229037, 40.510735463353384],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_4d4e4b01ede01206281a18fe1f6c96a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_58450dde5584bb3322f4ac4e13b61bfb.setIcon(icon_4d4e4b01ede01206281a18fe1f6c96a5);
        
    
        var popup_48070f0b9c5940b179c24167fe81e6f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_2225a2f2f5dfde91e269e161ab7e339a = $(`<div id="html_2225a2f2f5dfde91e269e161ab7e339a" style="width: 100.0%; height: 100.0%;">           <a href="/seal/">Памятник Тюленю-Спасителю</a>          </div>`)[0];
                popup_48070f0b9c5940b179c24167fe81e6f0.setContent(html_2225a2f2f5dfde91e269e161ab7e339a);
            
        

        marker_58450dde5584bb3322f4ac4e13b61bfb.bindPopup(popup_48070f0b9c5940b179c24167fe81e6f0)
        ;

        
    
    
            marker_58450dde5584bb3322f4ac4e13b61bfb.bindTooltip(
                `<div>
                     наб. Северной Двины, 95, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d253b7a6179d1b3d25c91bf9e7941a36 = L.marker(
                [64.545391, 40.511956],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_015e258e7543f1397c24b4ae3201966a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_d253b7a6179d1b3d25c91bf9e7941a36.setIcon(icon_015e258e7543f1397c24b4ae3201966a);
        
    
        var popup_d1c3997d94643d83c02d5a4d61464353 = L.popup({"maxWidth": "100%"});

        
            
                var html_3204f570ef56cd54e4ac7678d54b14db = $(`<div id="html_3204f570ef56cd54e4ac7678d54b14db" style="width: 100.0%; height: 100.0%;">           <a href="/flot/">Памятник Юнгам Северного флота</a>          </div>`)[0];
                popup_d1c3997d94643d83c02d5a4d61464353.setContent(html_3204f570ef56cd54e4ac7678d54b14db);
            
        

        marker_d253b7a6179d1b3d25c91bf9e7941a36.bindPopup(popup_d1c3997d94643d83c02d5a4d61464353)
        ;

        
    
    
            marker_d253b7a6179d1b3d25c91bf9e7941a36.bindTooltip(
                `<div>
                     Октябрьский округ, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06a4ba000e805e0ac7792877b8a084a5 = L.marker(
                [64.541818, 40.510106],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_9b4cd03bdf76ead6f5138018e1fcde6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_06a4ba000e805e0ac7792877b8a084a5.setIcon(icon_9b4cd03bdf76ead6f5138018e1fcde6a);
        
    
        var popup_9ede207196acf24507fe62f12f792b13 = L.popup({"maxWidth": "100%"});

        
            
                var html_6981866a575519d86c83c9f4a43b8e44 = $(`<div id="html_6981866a575519d86c83c9f4a43b8e44" style="width: 100.0%; height: 100.0%;">           <a href="/voin/">Стела 'Город воинской славы'</a>          </div>`)[0];
                popup_9ede207196acf24507fe62f12f792b13.setContent(html_6981866a575519d86c83c9f4a43b8e44);
            
        

        marker_06a4ba000e805e0ac7792877b8a084a5.bindPopup(popup_9ede207196acf24507fe62f12f792b13)
        ;

        
    
    
            marker_06a4ba000e805e0ac7792877b8a084a5.bindTooltip(
                `<div>
                     набережная Северной Двины, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dfe7029cd27018715eb1c28cc9867569 = L.marker(
                [64.533575, 40.521745],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_f94ea22dc98902ba95b1c9d2e93bde21 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_dfe7029cd27018715eb1c28cc9867569.setIcon(icon_f94ea22dc98902ba95b1c9d2e93bde21);
        
    
        var popup_6a4148be80e248d18bae2c1a3e1207af = L.popup({"maxWidth": "100%"});

        
            
                var html_37419d7b1fc86da325b190f5e60bff79 = $(`<div id="html_37419d7b1fc86da325b190f5e60bff79" style="width: 100.0%; height: 100.0%;">           <a href="/plotnik/">Усадебный дом Е.К. Плотниковой</a>          </div>`)[0];
                popup_6a4148be80e248d18bae2c1a3e1207af.setContent(html_37419d7b1fc86da325b190f5e60bff79);
            
        

        marker_dfe7029cd27018715eb1c28cc9867569.bindPopup(popup_6a4148be80e248d18bae2c1a3e1207af)
        ;

        
    
    
            marker_dfe7029cd27018715eb1c28cc9867569.bindTooltip(
                `<div>
                     набережная Северной Двины, 72, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c8cc7cdce7404ec83788f85b8eef936 = L.marker(
                [64.554938, 40.544382],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_92a8f96e9c63802cd4039bafcb6143a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_8c8cc7cdce7404ec83788f85b8eef936.setIcon(icon_92a8f96e9c63802cd4039bafcb6143a6);
        
    
        var popup_b15419d96b4c6d458a24a922281f39f3 = L.popup({"maxWidth": "100%"});

        
            
                var html_2d03e3b1fab096a8279b33e35325d037 = $(`<div id="html_2d03e3b1fab096a8279b33e35325d037" style="width: 100.0%; height: 100.0%;">           <a href="/svyatie/">Церковь Всех Святых</a>          </div>`)[0];
                popup_b15419d96b4c6d458a24a922281f39f3.setContent(html_2d03e3b1fab096a8279b33e35325d037);
            
        

        marker_8c8cc7cdce7404ec83788f85b8eef936.bindPopup(popup_b15419d96b4c6d458a24a922281f39f3)
        ;

        
    
    
            marker_8c8cc7cdce7404ec83788f85b8eef936.bindTooltip(
                `<div>
                     улица Суворова, 37, Архангельск, 163072
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b438c10ddc42501d319068f269f0efe9 = L.marker(
                [64.563946, 40.529776],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_afafba2196eb9d7ef216b2a0f5f1183f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_b438c10ddc42501d319068f269f0efe9.setIcon(icon_afafba2196eb9d7ef216b2a0f5f1183f);
        
    
        var popup_84e04dcc6bd1b7180dbad82f3d4bfaf5 = L.popup({"maxWidth": "100%"});

        
            
                var html_5460c4123004b85a3e931f342191e202 = $(`<div id="html_5460c4123004b85a3e931f342191e202" style="width: 100.0%; height: 100.0%;">           <a href="/troitsa/">Церковь Троицы Живоначальной</a>          </div>`)[0];
                popup_84e04dcc6bd1b7180dbad82f3d4bfaf5.setContent(html_5460c4123004b85a3e931f342191e202);
            
        

        marker_b438c10ddc42501d319068f269f0efe9.bindPopup(popup_84e04dcc6bd1b7180dbad82f3d4bfaf5)
        ;

        
    
    
            marker_b438c10ddc42501d319068f269f0efe9.bindTooltip(
                `<div>
                     Комсомольская улица, 1А, Архангельск, 163045
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d75f4b974a12a21c19542681dca2e7e8 = L.marker(
                [64.539115, 40.509573],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_c48ef2b0d7aae99799e787eb2777626f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d75f4b974a12a21c19542681dca2e7e8.setIcon(icon_c48ef2b0d7aae99799e787eb2777626f);
        
    
        var popup_6eada540479051b2c86f38d75118ba70 = L.popup({"maxWidth": "100%"});

        
            
                var html_ee6784d4e269b7a2ada0f3c7ef1d984f = $(`<div id="html_ee6784d4e269b7a2ada0f3c7ef1d984f" style="width: 100.0%; height: 100.0%;">           <a href="/kraeved/">Архангельский краеведческий музей</a>          </div>`)[0];
                popup_6eada540479051b2c86f38d75118ba70.setContent(html_ee6784d4e269b7a2ada0f3c7ef1d984f);
            
        

        marker_d75f4b974a12a21c19542681dca2e7e8.bindPopup(popup_6eada540479051b2c86f38d75118ba70)
        ;

        
    
    
            marker_d75f4b974a12a21c19542681dca2e7e8.bindTooltip(
                `<div>
                     наб. Северной Двины, 86, Архангельск, Архангельская обл., 163000
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_42c2c7b70b35abef9e56bd1d6f0cbb1b = L.marker(
                [64.545464, 40.514742],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_e1cac79c0290e622e23da621a6059fe3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_42c2c7b70b35abef9e56bd1d6f0cbb1b.setIcon(icon_e1cac79c0290e622e23da621a6059fe3);
        
    
        var popup_d5f3de24cf604daaee55d484be0376a4 = L.popup({"maxWidth": "100%"});

        
            
                var html_ba443a159cc255b6374d836e95a2a39b = $(`<div id="html_ba443a159cc255b6374d836e95a2a39b" style="width: 100.0%; height: 100.0%;">           <a href="/ekaterina/">Лютеранская церковь Святой Екатерины</a>          </div>`)[0];
                popup_d5f3de24cf604daaee55d484be0376a4.setContent(html_ba443a159cc255b6374d836e95a2a39b);
            
        

        marker_42c2c7b70b35abef9e56bd1d6f0cbb1b.bindPopup(popup_d5f3de24cf604daaee55d484be0376a4)
        ;

        
    
    
            marker_42c2c7b70b35abef9e56bd1d6f0cbb1b.bindTooltip(
                `<div>
                     улица Карла Маркса, 3, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca8b5ba76683a42ec42d33206bd52b73 = L.marker(
                [64.531293, 40.534798],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_3f2ec8815b1af5bd3a7a399b71097314 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_ca8b5ba76683a42ec42d33206bd52b73.setIcon(icon_3f2ec8815b1af5bd3a7a399b71097314);
        
    
        var popup_878e5af932893b3a0c6f975fcc3e721b = L.popup({"maxWidth": "100%"});

        
            
                var html_ddcc5582b9a13c59a398da2ca40bb2f0 = $(`<div id="html_ddcc5582b9a13c59a398da2ca40bb2f0" style="width: 100.0%; height: 100.0%;">           <a href="/doblest/">Памятник доблестным защитникам советского севера</a>          </div>`)[0];
                popup_878e5af932893b3a0c6f975fcc3e721b.setContent(html_ddcc5582b9a13c59a398da2ca40bb2f0);
            
        

        marker_ca8b5ba76683a42ec42d33206bd52b73.bindPopup(popup_878e5af932893b3a0c6f975fcc3e721b)
        ;

        
    
    
            marker_ca8b5ba76683a42ec42d33206bd52b73.bindTooltip(
                `<div>
                     Ломоносовский округ, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c9eda709bde304812fa11d606c614e90 = L.marker(
                [64.534352, 40.517308],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_2a8f504788e5d9025c29f480b7c2de5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_c9eda709bde304812fa11d606c614e90.setIcon(icon_2a8f504788e5d9025c29f480b7c2de5a);
        
    
        var popup_57a4411e45c51d9e2d5b435c6c7a7020 = L.popup({"maxWidth": "100%"});

        
            
                var html_3f94273b62c3d3f5a0a57ee443f678b0 = $(`<div id="html_3f94273b62c3d3f5a0a57ee443f678b0" style="width: 100.0%; height: 100.0%;">           <a href="/contor/">Почтовая контора 1786 г.</a>          </div>`)[0];
                popup_57a4411e45c51d9e2d5b435c6c7a7020.setContent(html_3f94273b62c3d3f5a0a57ee443f678b0);
            
        

        marker_c9eda709bde304812fa11d606c614e90.bindPopup(popup_57a4411e45c51d9e2d5b435c6c7a7020)
        ;

        
    
    
            marker_c9eda709bde304812fa11d606c614e90.bindTooltip(
                `<div>
                     набережная Северной Двины, 78, Архангельск, 163069
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe80ba4b3c35db6dddaaa1a5d005f935 = L.marker(
                [64.535522, 40.527422],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_5f7b77c1022b5d055fe0bfd22d32c48b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_fe80ba4b3c35db6dddaaa1a5d005f935.setIcon(icon_5f7b77c1022b5d055fe0bfd22d32c48b);
        
    
        var popup_f632307f9eabf3a000b9f4e23749137d = L.popup({"maxWidth": "100%"});

        
            
                var html_89f668e906ca4f5be437d8815b8d4e2e = $(`<div id="html_89f668e906ca4f5be437d8815b8d4e2e" style="width: 100.0%; height: 100.0%;">           <a href="/chumbarove/">Проспект Чумбарова-Лучинского</a>          </div>`)[0];
                popup_f632307f9eabf3a000b9f4e23749137d.setContent(html_89f668e906ca4f5be437d8815b8d4e2e);
            
        

        marker_fe80ba4b3c35db6dddaaa1a5d005f935.bindPopup(popup_f632307f9eabf3a000b9f4e23749137d)
        ;

        
    
    
            marker_fe80ba4b3c35db6dddaaa1a5d005f935.bindTooltip(
                `<div>
                     проспект Чумбарова-Лучинского, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40daef00f61770a83078a62ff719c54f = L.marker(
                [64.536369, 40.515223],
                {}
            ).addTo(map_05caa589a468992d24d6e2365e3c3790);
        
    
            var icon_68f72acf831fd4a0d62224db084942ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_40daef00f61770a83078a62ff719c54f.setIcon(icon_68f72acf831fd4a0d62224db084942ca);
        
    
        var popup_e51520220b18ebbb77d5944ef7edd296 = L.popup({"maxWidth": "100%"});

        
            
                var html_9ee9038875db286af2f5f64ecea25240 = $(`<div id="html_9ee9038875db286af2f5f64ecea25240" style="width: 100.0%; height: 100.0%;">           <a href="/dramma/">Театр драмы имени М.В. Ломоносова</a>          </div>`)[0];
                popup_e51520220b18ebbb77d5944ef7edd296.setContent(html_9ee9038875db286af2f5f64ecea25240);
            
        

        marker_40daef00f61770a83078a62ff719c54f.bindPopup(popup_e51520220b18ebbb77d5944ef7edd296)
        ;

        
    
    
            marker_40daef00f61770a83078a62ff719c54f.bindTooltip(
                `<div>
                     Петровский парк, 1, Архангельск
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>