<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../media/лого.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/styles/review.css">
    <title>Тюлень</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-title">
                <h1 class="header-title-text">проект студентов САФУ им. М. В. Ломоносова</h1>
                <a href="#" class="logo">
                    <img src="../../media/лого.svg" alt="logo" class="logo-img">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="main-review">
            <div class="main-img">
                <div class="container">
                    <div class="main-img-div">
                        <img src="../../media/тюлень легенда.jpg" alt="main-image" class="main-img-img">
                    </div>
                </div>
            </div>
            <div class="main-title">
                <div class="container">
                    <div class="title">
                        <h1 class="header-title-text">Памятник «Тюленю — спасителю жителей Архангельска и блокадного Ленинграда»</h1>
                    </div>
                </div>
            </div>
            <div class="main-text">
                <div class="container">
                    <div class="text-about">
                        <p>
                            Во времена Великой Отечественной войны в Архангельске суточная норма хлеба снижалась в некоторые
                             месяцы до 125 грамм на человека (что соответствует минимальной норме в блокадном Ленинграде)[1]. 
                             Архангельск был вторым (после Ленинграда) городом в СССР по смертности от голода, несмотря на то, что 
                             через его порт проходили тысячи тонн продовольствия, импортируемого по ленд-лизу. За 1941—1944 годы в 
                             Архангельске от голода и болезней умерло 38 тысяч жителей (каждый седьмой из предвоенной 
                             численности населения 281 тыс. человек)[2].
                        </p>
                        <p>
                            Для улучшения продовольственного снабжения были организованы промысловые экспедиции с целью 
                            охоты на тюленя в Белом и Баренцевом морях[3]. Добытые мясо, жир и шкуры северных животных спасли 
                            от голодной смерти и холода тысячи нуждающихся людей не только в Архангельске и близлежащих
                             местностях, но и в Ленинграде (из Архангельска в Ленинград для ликвидации последствий блокады 
                             было отправлено более тысячи тонн пищевого и медицинского жира из тюленьего сала)[4]. Кроме того, 
                             тюлений жир использовался для смазки орудий на кораблях Северного флота.
                        </p>
                    </div>
                </div>
            </div>
            <div class="address">
                <div class="container">
                    <div class="address-main">
                        <img src="../../media/bxs_map.svg" alt="address link">
                        <p>наб. Северной Двины, 95, Архангельск, Архангельская обл., Россия</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="post-form">
            <div class="container">
                <div class="post-form-div">
                    <div class="form-main">
                        <h1>Есть предложения для добавления новых достопримечательностей города ?</h1>
                        <h2>
                            Тогда пиши нам название и мы 
                            поплним интерактивную карту 
                        </h2>
                        <form method="post">
                            <input type="text" onfocus="this.value=''" value="Название достопримечательности">
                            <button id="form-button"><a href="./form.html">Отправить</a></button>
                        </form>
                    </div>
                    <div class="form-img">
                        <img src="../../media/emojione-v1_open-mailbox-with-lowered-flag.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-nav">
            <div class="container">
                <div class="footer-logos">
                    <div class="footer-logo">
                        <a href="./index.html" class="footer-main-logo">
                            <img src="../../media/лого.svg" alt="лого">
                        </a>
                    </div>
                    <div class="footer-links">
                        <a href="https://vk.com" class="vk-footer">
                            <img src="../../media/лого вк.png" alt="лого ВК">
                        </a>
                        <a href="https://web.telegram.org/a/" class="tg-footer">
                            <img src="../../media/лого тг.svg" alt="лого ТГ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>