/* Сброс стилей html */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
  
body {
	font-family: "Montserrat Alternates", sans-serif;
	line-height: 1;
	background-color: #8dd3bb;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (min-width: 560px) {
    .header {
        background-color: #fff;
        padding: 21px 104px;
    }
    
    .container {
        max-width: 1383px;
        margin: 15vh auto;
        padding: 0 15px;
    }
    
    .form-div {
        background-color: #9aedd0;
        height: 500px;
        width: 500px;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    h1 {
        padding: 16px;
        font-size: 24px;
        font-weight: 700;
        color: #112211;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        width: 80%;
        padding: 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 15px;
    }
    
    button {
        border: none;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
        color: #fff;
        background-color: #81cab1;
        font-size: 16px;
        font-weight: 700;
    }
    
}

@media (max-width: 559px) {
    .header {
        background-color: #fff;
        padding: 21px 104px;
    }
    
    .container {
        max-width: 500px;
        margin: 15vh auto;
        padding: 0 15px;
    }
    
    .form-div {
        background-color: #9aedd0;
        max-height: 500px;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    h1 {
        padding: 16px;
        font-size: 24px;
        font-weight: 700;
        color: #112211;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        width: 80%;
        padding: 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 15px;
    }
    
    button {
        border: none;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
        color: #fff;
        background-color: #81cab1;
        font-size: 16px;
        font-weight: 700;
    }
}

@media (max-width: 410px) {

    .header {
        background-color: #fff;
        padding: 21px 104px;
    }
    
    .container {
        max-width: 390px;
        margin: 15vh auto;
        padding: 0 15px;
    }
    
    .form-div {
        background-color: #9aedd0;
        max-height: 500px;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    h1 {
        padding: 16px;
        font-size: 20px;
        font-weight: 700;
        color: #112211;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        width: 80%;
        padding: 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 15px;
    }
    
    button {
        border: none;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
        color: #fff;
        background-color: #81cab1;
        font-size: 16px;
        font-weight: 700;
    }
}

@media (max-width: 350px) {

    .header {
        background-color: #fff;
        padding: 21px 104px;
    }
    
    .container {
        max-width: 300px;
        margin: 15vh auto;
        padding: 0 15px;
    }
    
    .form-div {
        background-color: #9aedd0;
        max-height: 500px;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    h1 {
        padding: 16px;
        font-size: 16px;
        font-weight: 700;
        color: #112211;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        width: 80%;
        padding: 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 15px;
    }
    
    button {
        border: none;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
        color: #fff;
        background-color: #81cab1;
        font-size: 16px;
        font-weight: 700;
    }
}