/* Сброс стилей html */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
  
body {
	font-family: "Montserrat Alternates", sans-serif;
	line-height: 1;
	background-color: #FAFBFC;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (min-width: 1440px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 1383px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 32px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		max-width: 100%;
		overflow: hidden;
		border-radius: 25px;
		width: 100%;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		width: 100%;
    	height: 100%;
    	object-fit: cover;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		width: 100%;
    	height: 100%;
    	object-fit: cover;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}
	
	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		width: 450px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		margin-right: 40px;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 1439px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 32px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}
	
	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		width: 450px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		margin-right: 40px;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 1090px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 32px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}
	
	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		width: 450px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		margin-right: 40px;
		max-width: 100%;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 1090px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 32px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.form-main {
		padding: 26px;
	}
	
	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		width: 450px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		display: none;
		margin-right: 40px;
		max-width: 100%;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 880px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 32px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}
	
	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		width: 450px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		display: none;
		margin-right: 40px;
		max-width: 100%;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 640px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 24px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}

	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		max-width: 400px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		display: none;
		margin-right: 40px;
		max-width: 100%;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 610px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 24px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}

	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		max-width: 350px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-left: 10px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		display: none;
		margin-right: 40px;
		max-width: 100%;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}

@media (max-width: 560px) {
	.header {
		background-color: #fff;
		padding: 21px 104px;
		margin-bottom: 40px;
	}
	
	.container {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 15px;
	}
	
	.header-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	
	.header-title-text {
		cursor: default;
		justify-content: center;
		font-weight: 600;
		font-size: 24px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.main-img {
		margin-bottom: 30px;
	}
	
	.main-img-div {
		display: inline-block; 
		overflow: hidden;
		border-radius: 25px;
	}
	
	.main-img-img {
		transition: 1s;
		display: block; 
		max-height: 100vh;
		max-width: 100%;
	}
	
	.main-img-img:hover {
		transform: scale(1.2);
		max-height: 100vh;
	}
	
	.title {
		text-align: center;
	}
	
	.main-title {
		margin-bottom: 40px;
	}
	
	.text-about {
		line-height: 1.5;
		font-size: 20px;
	}
	
	.main-text {
		margin-bottom: 40px;
	}
	
	.address {
		margin-bottom: 50px;
	}
	
	.address-main {
		display: flex;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
	
	.address-main img {
		height: 26px;
		width: 26px;
		margin-right: 10px;
	}
	
	.address-main p {
		text-align: center;
	}
	
	.post-form-div {
		background-color: #CDEAE1;
		height: 305px;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.form-main {
		padding: 26px;
	}

	.form-main h1 {
		width: 590px;
		color: #112211;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	
	.form-main h2 {
		width: 370px;
		color: #112211;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	form {
		display: flex;
		flex-direction: column;
	}
	
	input {
		border: none;
		border-radius: 4px;
		height: 56px;
		max-width: 350px;
		color: #1C1B1F;
		font-weight: 400;
		font-size: 16px;
		padding-left: 10px;
		font-family: "Montserrat Alternates", sans-serif;
	}
	
	#form-button {
		height: 56px;
		border: none;
		border-radius: 4px;
		background-color: #112211;
		color: #fff;
		font-size: 14px;
		font-weight: bolder;
		padding: 0 15px;
		margin-top: 10px;
		max-width: 100px;
	}
	
	#form-button a {
		color: #fff;
		text-decoration: none;
	}
	
	#form-button a:visited {
		color: #fff;
		text-decoration: none;
	}
	
	.main {
		margin-bottom: 200px;
	}
	
	.form-img img {
		display: none;
		margin-right: 40px;
		max-width: 100%;
	}
	
	footer {
		position: relative;
		
	}
	
	.footer-nav {
		background-color: #8DD3BB;
		height: 300px;
		position: absolute;
		bottom: 0;
		z-index: -1;
		width: 100%;
	}
	
	.footer-logos {
		display: flex;
		margin-top: 150px;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}
	
	.vk-footer {
		margin-right: 20px;
		transition: 0.5s;
	}
	
	.tg-footer {
		transition: 0.5s;
	}
	
	.vk-footer img:hover {
		height: 54px;
		width: 54px;
	}
	
	.tg-footer img:hover {
		height: 61px;
		width: 61px;
	}
	
	.footer-main-logo img {
		height: 120px;
		width: 120px;
	}
	
	.footer-main-logo img:hover {
		height: 122px;
		width: 122px;
	} 
}