<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-title">
                <h1 class="header-title-text">проект студентов САФУ им. М. В. Ломоносова</h1>
                <a href="#" class="logo">
                    <img src="../../media/лого.svg" alt="logo" class="logo-img">
                </a>
            </div>
        </div>
    </header>

    <div class="picture">

    </div>
</body>
</html>