<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-title">
                <h1 class="header-title-text">проект студентов САФУ им. М. В. Ломоносова</h1>
                <a href="#" class="logo">
                    <img src="../../media/лого.svg" alt="logo" class="logo-img">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="promo">
            <div class="container">
                <div class="promo__inner">
                    <h2 class="subtitle">
                        Архангельское путешествие:
                    </h2>
                    <h1 class="title">
                        Открой город с нами!
                    </h1>
                </div>
            </div>
        </section>
        <section class="review">
            <div class="container review-div">
                <div class="review__title">
                    <h1 class="review-plan">
                        Спланируйте свое идеальное путешествие
                    </h1>
                    <h2 class="review-more">
                        <a href="#" class="review-more-link">увидеть больше мест</a>
                    </h2>
                </div>
                <div class="review-grid">

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                    <div class="grid-element">
                        <a href="#" class="grid-el-link"><img src="../../media/беломорские укзоры 1.png" alt="беломорские узоры" class="grid-element-img"></a>
                        <div class="grid-element-text">
                            <h1>Беломорские узоры</h1>
                            <h2>Магазин подарков и сувениров</h2>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="map">
            <div class="container">
                <div class="map-text">
                    <h1 class="map-text-header">Туристическая карта города</h1>
                </div>
                <div class="main-map">
                    <img src="../../media/интерактивная карта.jpg" alt="карта города" class="map-image">
                </div>
            </div>
        </section>
        <section class="google-views">
            <div class="container">
                <div class="google-views-headers">
                    <div class="google-views-headers-hs">
                        <h1>Обзоры</h1>
                        <h2>Что люди говорят о музеях города</h2>
                    </div>
                    <h2 class="review-more">
                        <a href="#" class="review-more-link">Посмотреть больше</a>
                    </h2>
                </div>
                <div class="google-views-marks">
                    <div class="google-views-marks-element">
                        <div class="google-views-marks-main-element sq">

                            <h1>"Удобства превосходные. Чисто, прилизанно, ярко"</h1>

                            <div class="show-more-google">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                                <script type="text/javascript" src="../scripts/script.js"></script>
                                <div class="visible-text">
                                    <p>
                                        “Настоящее чувство общности, воспитанное в нас” - 
                                        я очень ценю помощь и поддержку персонала
                                    </p>
                                </div>
                                <div class="invisible-text">
                                    <p>
                                        в эти трудные времена. 
                                        Спасибо Кэти за то, что всегда помогала мне, даже когда я была за границей. 
                                        И всегда была рядом, когда это было необходимо.Посмотреть еще несколько студий Olgaweave 
                                        – Kai TakGoogle
                                    </p>
                                </div>
                                <button class="google-show-more-btn">Посмотреть больше</button>
                                
                            </div>

                            <div class="star-marks">
                                <img src="../../media/Frame 2608758.png" alt="" class="star-marks-img">
                            </div>

                            <div class="username">
                                <div class="name">
                                    <span>Ольга</span>
                                </div>
                                <div class="google-logo">
                                    <a href="https://www.google.ru/maps">
                                        <img src="../../media/flat-color-icons_google.svg" alt="google-logo">
                                    </a>
                                    <span>Google</span>
                                </div>
                            </div>

                            <div class="object-img">
                                <img src="../../media/музей изобр искуств 1.png" alt="музей">
                            </div>
                        </div>
                        <div class="google-views-marks-background sq">

                        </div>
                        
                    </div>
                    <div class="google-views-marks-element">
                        <div class="google-views-marks-main-element sq">

                            <h1>"Удобства превосходные. Чисто, прилизанно, ярко"</h1>

                            <div class="show-more-google">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                                <script type="text/javascript" src="../scripts/script.js"></script>
                                <div class="visible-text">
                                    <p>
                                        “Настоящее чувство общности, воспитанное в нас” - 
                                        я очень ценю помощь и поддержку персонала
                                    </p>
                                </div>
                                <div class="invisible-text">
                                    <p>
                                        в эти трудные времена. 
                                        Спасибо Кэти за то, что всегда помогала мне, даже когда я была за границей. 
                                        И всегда была рядом, когда это было необходимо.Посмотреть еще несколько студий Olgaweave 
                                        – Kai TakGoogle
                                    </p>
                                </div>
                                <button class="google-show-more-btn">Посмотреть больше</button>
                                
                            </div>

                            <div class="star-marks">
                                <img src="../../media/Frame 2608758.png" alt="" class="star-marks-img">
                            </div>

                            <div class="username">
                                <div class="name">
                                    <span>Ольга</span>
                                </div>
                                <div class="google-logo">
                                    <a href="https://www.google.ru/maps">
                                        <img src="../../media/flat-color-icons_google.svg" alt="google-logo">
                                    </a>
                                    <span>Google</span>
                                </div>
                            </div>

                            <div class="object-img">
                                <img src="../../media/музей изобр искуств 1.png" alt="музей">
                            </div>
                        </div>
                        <div class="google-views-marks-background sq">

                        </div>
                        
                    </div>
                    <div class="google-views-marks-element">
                        <div class="google-views-marks-main-element sq">

                            <h1>"Удобства превосходные. Чисто, прилизанно, ярко"</h1>

                            <div class="show-more-google">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                                <script type="text/javascript" src="../scripts/script.js"></script>
                                <div class="visible-text">
                                    <p>
                                        “Настоящее чувство общности, воспитанное в нас” - 
                                        я очень ценю помощь и поддержку персонала
                                    </p>
                                </div>
                                <div class="invisible-text">
                                    <p>
                                        в эти трудные времена. 
                                        Спасибо Кэти за то, что всегда помогала мне, даже когда я была за границей. 
                                        И всегда была рядом, когда это было необходимо.Посмотреть еще несколько студий Olgaweave 
                                        – Kai TakGoogle
                                    </p>
                                </div>
                                <button class="google-show-more-btn">Посмотреть больше</button>
                                
                            </div>

                            <div class="star-marks">
                                <img src="../../media/Frame 2608758.png" alt="" class="star-marks-img">
                            </div>

                            <div class="username">
                                <div class="name">
                                    <span>Ольга</span>
                                </div>
                                <div class="google-logo">
                                    <a href="https://www.google.ru/maps">
                                        <img src="../../media/flat-color-icons_google.svg" alt="google-logo">
                                    </a>
                                    <span>Google</span>
                                </div>
                            </div>

                            <div class="object-img">
                                <img src="../../media/музей изобр искуств 1.png" alt="музей">
                            </div>
                        </div>
                        <div class="google-views-marks-background sq">

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="post-form">
            <div class="container">
                <div class="post-form-div">
                    <div class="form-main">
                        <h1>Есть предложения для добавления новых достопримечательностей города ?</h1>
                        <h2>
                            Тогда пиши нам название и мы 
                            поплним интерактивную карту 
                        </h2>
                        <form method="post">
                            <input type="text" onfocus="this.value=''" value="Название достопримечательности">
                            <button id="form-button"><a href="./form.html">Отправить</a></button>
                        </form>
                    </div>
                    <div class="form-img">
                        <img src="../../media/emojione-v1_open-mailbox-with-lowered-flag.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-nav">
            <div class="container">
                <div class="footer-logos">
                    <div class="footer-logo">
                        <a href="#" class="footer-main-logo">
                            <img src="../../media/лого.svg" alt="лого">
                        </a>
                    </div>
                    <div class="footer-links">
                        <a href="https://vk.com" class="vk-footer">
                            <img src="../../media/лого вк.png" alt="лого ВК">
                        </a>
                        <a href="https://web.telegram.org/a/" class="tg-footer">
                            <img src="../../media/лого тг.svg" alt="лого ТГ">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>