<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/review.css">
    <title>Тюлень</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-title">
                <h1 class="header-title-text">проект студентов САФУ им. М. В. Ломоносова</h1>
                <a href="#" class="logo">
                    <img src="../../media/лого.svg" alt="logo" class="logo-img">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="main-review">
            <div class="main-img">
                <div class="container">
                    <div class="main-img-div">
                        <img src="../../media/тюлень легенда.jpg" alt="main-image" class="main-img-img">
                    </div>
                </div>
            </div>
            <div class="main-title">
                <div class="container">
                    <div class="title">
                        <h1 class="header-title-text">Памятник «Тюленю — спасителю жителей Архангельска и блокадного Ленинграда»</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>