/* Сброс стилей html */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
  
body {
	font-family: "Montserrat Alternates", sans-serif;
	line-height: 1;
	background-color: #FAFBFC;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	background-color: #fff;
	padding: 21px 104px;
    margin-bottom: 40px;
}

.container {
	max-width: 1383px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title-text {
	cursor: default;
	justify-content: center;
	font-weight: 600;
	font-size: 32px;
	margin-right: auto;
	margin-left: auto;
}

.main-img {
    margin-bottom: 30px;
}

.main-img-div {
    display: inline-block; 
    overflow: hidden;
    border-radius: 25px;
}

.main-img-img {
    transition: 1s;
    display: block; 
    max-height: 100vh;
}

.main-img-img:hover {
    transform: scale(1.2);
    max-height: 100vh;
}

.title {
    text-align: center;
}